

<h5>{{title}}</h5>
<p>E.164 Number: {{phone.number}}</p>
<p>Country iso: {{phone.country}}</p>
<p>Country calling code: {{phone.country}}</p>
<p>Country name: {{phone.name}}</p>
<p>Local phone: {{phone.phone}}</p>
<p>Number probably valid: {{phone.probablyValidNumber}}</p>