

<h5>{{title}}</h5>
<p>E.164 Number: {{value.number}}</p>
<p>Country iso: {{value.country}}</p>
<p>Country calling code: {{value.country}}</p>
<p>Country name: {{value.name}}</p>
<p>Local phone: {{value.phone}}</p>
<p>Number probably valid: {{value.probablyValidNumber}}</p>